<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <thunderstone>
                <active>1</active>
                <title>Thunderstone</title>
                <name>Thunderstone</name>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>Thunderstone\Order\Model\ThunderstoneShipping</model>
            </thunderstone>
        </carriers>
        <payment>
            <thunderstone>
                <payment_action>authorize</payment_action>
                <active>1</active>
                <model>Thunderstone\Order\Model\ThunderstonePayment</model>
                <order_status>pending</order_status>
                <title>Thunderstone Payment</title>
                <allowspecific>0</allowspecific>
                <group>Thunderstone</group>
            </thunderstone>
        </payment>
    </default>
</config>